body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.j-card {
	margin: 20px;
}

.j-card-image {
	border-radius: 10px;
	width: 300px;
	height: 400px;
	box-shadow: 0px 0px 3px 1px #ccc;
}

.j-card-title {
	font-size: 24px;
	margin: 0px;
}

.j-card-info {
	margin-top: 10px;
	min-height: 100px;
}

.j-card-sub-title {
	font-size: 16px;
	margin: 0px;
}

.about-me-photo {
	display: block;
	border-radius: 30px;
	margin: 10px auto 20px;
	width: 200px;
	height: 240px;
}


.success-msg {
	color: #57A773;
	padding: 10px 15px;
}

.err-msg {
	color: #EE6352;
	padding: 10px 15px;
}






